body {
    margin: 0;
    padding: 0;
    background-color: #064e3b;
    font-family: 'Questrial', sans-serif;
}

svg {
    fill: currentColor;
}

.icon:hover {
    transform: rotate(-10deg);
}

.grid-container {
    display: grid;
    grid-template-rows: 15% 75% 10%;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #043629;
    color: white;
}

.title {
    font-size: 4rem;
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
    /* justify-self: center; */
    margin-top: 5%;
}

#add {
    border-radius: 360%;
    height: 100px;
    width: 100px;
    background-color: #043629;
    color: white;
    font-size: 5rem;
    font-weight: 800;
    margin-right: 1%;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(11, 10, 10, .7);
    outline: none;
    border-style: none;
    color: white;
    font-size: .8rem;
    border-radius: 2px;
}

.close:hover {
    background-color: rgb(241, 10, 10, .8);
}

#add:hover {
    background-color: rgba(11, 10, 10, 1);
}

.form-container { 
    display: none; /* FORM HIDDEN BY DEFAULT */
    position: fixed;
    place-self: center;
    top: 30%;
    background-color: rgba(11, 10, 10, .7);
    height: 280px;
    width: 200px;
    color: white;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.form-row input{
    height: 100%;
}

#submit-btn {
    width: 100px;
    height: 40px;
    margin-top: 5px;
    background-color: #064e3b;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 5px;
}

#submit-btn:hover {
    background-color: #fff7b4;
    color: black;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 270px;
    background-color: #043629;
    border: 4px solid #fff;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
}

.card p{
    margin: 1% 2%;
    
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    color: #fff;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.fa-github {
    color: white;
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
}
.fa-github:hover {
    transform: scale(2);
    cursor: pointer;
  }

  ::placeholder {
    font-family: 'Questrial', sans-serif;
    font-size: 1.1rem;
  }

  .remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #043629;
    color: white;
    outline: none;
    border-style: none;
    font-size: 2rem;
    border-radius: 2px;
  }

  .remove-btn:hover {
    color: #fff7b4;
  }